[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
iso8601 = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}
jinja2 = "*"
aiohttp-sse = "*"

[dev-packages]

[requires]
python_version = "^3.7"
