[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
iso8601 = "*"
pydantic = {extras = ["dotenv", "email"], version = "*"}
jinja2 = "*"
aiohttp-sse = "*"

[dev-packages]
pytest = "*"
pylint = "*"
black = "*"
isort = "*"
mypy = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-aiohttp = "*"
aiohttp-devtools = "*"

[requires]
python_version = "^3.7"
