[tool.poetry]
name = "aiofauna"
version = "0.1.6"
description = ""
authors = ["Oscar Bahamonde <oscar.bahamonde.dev@gmail.com>"]
repository = "https://github.com/obahamonde/aiofauna"
readme = "README.md"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.7"
aiohttp = "^3.8.4"
iso8601 = "^1.1.0"
aiohttp-sse = "^2.1.0"
aiohttp_cors = "^0.7.0"
aiohttp-devtools = "^1.0.post0"
Markdown = "^3.4.3"
Pygments = "^2.15.1"
pydantic = {extras = ["dotenv"], version = "^1.10.7"}
Jinja2 = "^3.1.2"

[tool.poetry.dev-dependencies]
pytest = "^7.3.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"