aiofauna==0.0.5
  - aiohttp [required: >=3.8.4,<4.0.0, installed: 3.8.4]
    - aiosignal [required: >=1.1.2, installed: 1.3.1]
      - frozenlist [required: >=1.1.0, installed: 1.3.3]
    - async-timeout [required: >=4.0.0a3,<5.0, installed: 4.0.2]
    - attrs [required: >=17.3.0, installed: 22.2.0]
    - charset-normalizer [required: >=2.0,<4.0, installed: 3.1.0]
    - frozenlist [required: >=1.1.1, installed: 1.3.3]
    - multidict [required: >=4.5,<7.0, installed: 6.0.4]
    - yarl [required: >=1.0,<2.0, installed: 1.8.2]
      - idna [required: >=2.0, installed: 3.4]
      - multidict [required: >=4.0, installed: 6.0.4]
  - aiohttp-sse [required: >=2.1.0,<3.0.0, installed: 2.1.0]
    - aiohttp [required: >=3.0, installed: 3.8.4]
      - aiosignal [required: >=1.1.2, installed: 1.3.1]
        - frozenlist [required: >=1.1.0, installed: 1.3.3]
      - async-timeout [required: >=4.0.0a3,<5.0, installed: 4.0.2]
      - attrs [required: >=17.3.0, installed: 22.2.0]
      - charset-normalizer [required: >=2.0,<4.0, installed: 3.1.0]
      - frozenlist [required: >=1.1.1, installed: 1.3.3]
      - multidict [required: >=4.5,<7.0, installed: 6.0.4]
      - yarl [required: >=1.0,<2.0, installed: 1.8.2]
        - idna [required: >=2.0, installed: 3.4]
        - multidict [required: >=4.0, installed: 6.0.4]
  - iso8601 [required: >=1.1.0,<2.0.0, installed: 1.1.0]
  - Jinja2 [required: >=3.1.2,<4.0.0, installed: 3.1.2]
    - MarkupSafe [required: >=2.0, installed: 2.1.2]
  - pydantic [required: >=1.10.7,<2.0.0, installed: 1.10.7]
    - typing-extensions [required: >=4.2.0, installed: 4.5.0]
aiohttp-devtools==1.0.post0
  - aiohttp [required: >=3.8.0, installed: 3.8.4]
    - aiosignal [required: >=1.1.2, installed: 1.3.1]
      - frozenlist [required: >=1.1.0, installed: 1.3.3]
    - async-timeout [required: >=4.0.0a3,<5.0, installed: 4.0.2]
    - attrs [required: >=17.3.0, installed: 22.2.0]
    - charset-normalizer [required: >=2.0,<4.0, installed: 3.1.0]
    - frozenlist [required: >=1.1.1, installed: 1.3.3]
    - multidict [required: >=4.5,<7.0, installed: 6.0.4]
    - yarl [required: >=1.0,<2.0, installed: 1.8.2]
      - idna [required: >=2.0, installed: 3.4]
      - multidict [required: >=4.0, installed: 6.0.4]
  - click [required: >=6.6, installed: 8.1.3]
    - colorama [required: Any, installed: 0.4.6]
  - devtools [required: >=0.5, installed: 0.10.0]
    - asttokens [required: >=2.0.0,<3.0.0, installed: 2.2.1]
      - six [required: Any, installed: 1.16.0]
    - executing [required: >=1.1.1, installed: 1.2.0]
  - Pygments [required: >=2.2.0, installed: 2.14.0]
  - watchgod [required: >=0.2, installed: 0.8.2]
    - anyio [required: >=3.0.0,<4, installed: 3.6.2]
      - idna [required: >=2.8, installed: 3.4]
      - sniffio [required: >=1.1, installed: 1.3.0]
aiohttp-jinja2==1.5.1
  - aiohttp [required: >=3.6.3, installed: 3.8.4]
    - aiosignal [required: >=1.1.2, installed: 1.3.1]
      - frozenlist [required: >=1.1.0, installed: 1.3.3]
    - async-timeout [required: >=4.0.0a3,<5.0, installed: 4.0.2]
    - attrs [required: >=17.3.0, installed: 22.2.0]
    - charset-normalizer [required: >=2.0,<4.0, installed: 3.1.0]
    - frozenlist [required: >=1.1.1, installed: 1.3.3]
    - multidict [required: >=4.5,<7.0, installed: 6.0.4]
    - yarl [required: >=1.0,<2.0, installed: 1.8.2]
      - idna [required: >=2.0, installed: 3.4]
      - multidict [required: >=4.0, installed: 6.0.4]
  - jinja2 [required: >=3.0.0, installed: 3.1.2]
    - MarkupSafe [required: >=2.0, installed: 2.1.2]
aioredis==2.0.1
  - async-timeout [required: Any, installed: 4.0.2]
  - typing-extensions [required: Any, installed: 4.5.0]
autopep8==2.0.2
  - pycodestyle [required: >=2.10.0, installed: 2.10.0]
  - tomli [required: Any, installed: 2.0.1]
bs4==0.0.1
  - beautifulsoup4 [required: Any, installed: 4.12.0]
    - soupsieve [required: >1.2, installed: 2.4]
email-validator==1.3.1
  - dnspython [required: >=1.15.0, installed: 2.3.0]
  - idna [required: >=2.0.0, installed: 3.4]
lxml==4.9.2
pytest==7.2.2
  - attrs [required: >=19.2.0, installed: 22.2.0]
  - colorama [required: Any, installed: 0.4.6]
  - exceptiongroup [required: >=1.0.0rc8, installed: 1.1.1]
  - iniconfig [required: Any, installed: 2.0.0]
  - packaging [required: Any, installed: 23.0]
  - pluggy [required: >=0.12,<2.0, installed: 1.0.0]
  - tomli [required: >=1.0.0, installed: 2.0.1]
python-dotenv==1.0.0
rich==13.3.3
  - markdown-it-py [required: >=2.2.0,<3.0.0, installed: 2.2.0]
    - mdurl [required: ~=0.1, installed: 0.1.2]
  - pygments [required: >=2.13.0,<3.0.0, installed: 2.14.0]
