<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>AioFauna</title>
</head>

<body>
	{% block content %}{% endblock %}
	<script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/mini.global.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/1.9.5/htmx.min.js"
		integrity="sha512-2NwoAICmYEIEuayBZdfd/cEvYGevbb1jezvQli/Iw052KfAA3NGrXAH2AY02cjt3gMdui5Q8nKauPYgVOE+pmg=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>